<form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">

    <div class="input-box">
        <label for="email">email</label>
        <input type="email" id="email" formControlName="email">
        <div class="errMessage">
            @if (hotelForm.controls.email.touched && hotelForm.controls.email.errors?.['required']) {
            <span>field email is required!</span>
            }
            @if (hotelForm.controls.email.touched && hotelForm.controls.email.errors?.['email']) {
            <span>Email must be in format name@server.com!</span>
            }
        </div>

    </div>

    <div class="input-box">
        <label for="phone">phone</label>
        <input type="text" id="phone" formControlName="phone">
        <div class="errMessage">
            @if (hotelForm.controls.phone.touched && hotelForm.controls.phone.errors?.['required']) {
            <span>Phone field is required!</span>
            }
            @if (hotelForm.controls.phone.touched && hotelForm.controls.phone.errors?.['pattern']) {
            <span>Phone field must contain only numbers and 9 to 15 digits!</span>
            }
        </div>


    </div>

    <div class="input-box">
        <label for="rooms">rooms</label>
        <input type="number" id="rooms" formControlName="rooms">
        <div class="errMessage">
            @if (hotelForm.controls.rooms.touched && hotelForm.controls.rooms.errors?.['required']) {
            <span>Rooms field is required!</span>
            }
            @if (hotelForm.controls.rooms.touched && hotelForm.controls.rooms.errors?.['min']) {
            <span>1 is minimal value!</span>
            }
            @if (hotelForm.controls.rooms.touched && hotelForm.controls.rooms.errors?.['max']) {
            <span>{{selectedHotel?.roomsAvailable}} is maximal value!</span>
            }
        </div>


    </div>

    <div class="hotel-container">
        @for (hotel of availableHotels; track hotel.id) {
        <div class="hotel" [class.selected]="selectedHotelId === hotel.id">
            <input type="radio" [id]="hotel.id" name="hotelId" [value]="hotel.id" formControlName="hotelId">



            <label [for]="hotel.id">
                <h3>{{hotel.name}} </h3>
                <span class="address">{{hotel.address}}, {{hotel.country}}</span>
                <h4> @for ( star of [].constructor(hotel.stars); track $index ) {
                    ★
                    }</h4>
                <img [ngSrc]="hotel.imageUrl" alt="hotel.name" width="300" height="200">
                <p class="price"><b>{{hotel.price | currency: 'EUR' }}</b>/night</p>
                <p class="avalability">available rooms: {{hotel.roomsAvailable}}</p>

                @if (hotel.wifi) {
                <p>Wifi</p>
                } @else {
                <p>No Wifi</p>
                }
                @if (hotel.breakfastIncluded) {
                <p>Breakfast Included</p>
                } @else {
                <p>Breakfast Excluded</p>
                }

                <p>Rating: <b>{{hotel.rating}}</b></p>

            </label>

        </div>
        }
        <div class="errMessage">
            @if (hotelForm.controls.hotelId.touched && hotelForm.controls.hotelId.errors?.['required']) {
            <span>Hotel is required!</span>
            }
        </div>


    </div>

    <button type="submit">Book Hotel</button>

</form>