<form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
        <select name="availableFlights" id="availableFlights" formControlName="flightId">
            <option value="" disabled>Select flight</option>
            @for (avFlight of availableFlights; track avFlight.id) {
            <option [value]="avFlight.id">{{avFlight.departureTime}}, {{avFlight.airline}}, {{avFlight.travelClass}},
                {{avFlight.price | currency: 'EUR' }}</option>
            }

        </select>
        <div class="errMessage">
            @if (flightForm.controls.flightId.touched && flightForm.controls.flightId.errors?.['required']) {
            <span>Select flight!</span>
            }
        </div>

    </div>
    <div class="input-box">
        <label for="customerName">name</label>
        <input type="text" name="customerName" id="customerName" formControlName="customerName">
        <div class="errMessage">
            @if (flightForm.controls.customerName.touched && flightForm.controls.customerName.errors?.['required']) {
            <span>Field required!</span>
            }
            @if (flightForm.controls.customerName.touched && flightForm.controls.customerName.errors?.['minlength']) {
            <span>Minimum 3 letters!</span>
            }
        </div>

    </div>

    <div class="input-box">
        <label for="travelers">number of travelers</label>
        <input type="number" name="travelers" id="travelers" formControlName="travelers">
        <div class="errMessage">
            @if (flightForm.controls.travelers.touched && flightForm.controls.travelers.errors?.['min']) {
            <span>Field requires minimum 1 traveler.</span>
            }
            @if (flightForm.controls.travelers.touched && flightForm.controls.travelers.errors?.['required']) {
            <span>Field required!</span>
            }
        </div>
    </div>

    <div class="input-box">
        <label for="departureDate">flight date to destination</label>
        <input type="date" name="departureDate" id="departureDate" formControlName="departureDate" [class.valid-date]="flightForm.controls.departureDate.touched && flightForm.controls.departureDate.valid">
        <div class="errMessage">
            @if (flightForm.controls.departureDate.touched && flightForm.controls.departureDate.errors?.['required']) {
            <span>Field required!</span>
            }
            @if (flightForm.controls.departureDate.touched && flightForm.controls.departureDate.errors?.['pastDate']) {
            <span>Date cannot be in the past.</span>
            }
        </div>

    </div>

    <div class="input-box">
        <label for="returnDate">flight date from destination</label>
        <input type="date" name="returnDate" id="returnDate" formControlName="returnDate"
            [class.valid-date]="flightForm.controls.returnDate.touched && flightForm.controls.returnDate.valid && !flightForm.hasError('pastReturnDate')">
        <div class="errMessage">
            @if (flightForm.controls.returnDate.touched && flightForm.controls.returnDate.errors?.['required']) {
            <span>Field required!</span>
            }
            @if (flightForm.hasError('pastReturnDate')) {
            <span>Return date cannot be before departure date.</span>
            }
            @if (flightForm.controls.returnDate.touched && flightForm.controls.returnDate.errors?.['pastDate']) {
            <span>Date cannot be in the past.</span>
            }
        </div>

    </div>

    <button type="submit">Book Flight</button>
</form>