<h3>Your booking details</h3>

<h4>Trip</h4>

<ul>
    <li>{{summaryDetails?.flight?.fromCountry}} -> {{summaryDetails?.flight?.toCountry}}</li>
    <li>departure date: {{summaryDetails?.departureDate}}</li>
    <li>return date: {{summaryDetails?.returnDate}}</li>
</ul>
<h4>Flight</h4>
<ul>
    <li>{{summaryDetails?.flight?.airline}}</li>
    <li>{{summaryDetails?.flight?.travelClass}}</li>
    <li>Departure: {{summaryDetails?.flight?.departureTime}}</li>
    <li>{{summaryDetails?.flight?.price | currency: 'EUR' }} / traveler</li>
</ul>
<h4>Passenger</h4>
<ul>
    <li>{{summaryDetails?.customerName}}</li>
    <li>{{summaryDetails?.travelers}}

        @if (summaryDetails?.travelers === 1 ) {
        travaler
        } @else {
        travalers
        }
    </li>
</ul>
<h4>Hotel</h4>
<ul>
    <li>{{summaryDetails?.hotel?.name}} {{summaryDetails?.hotel?.stars}}</li>
    <li>{{summaryDetails?.hotel?.address}}</li>
    <li>{{summaryDetails?.hotel?.price | currency: 'EUR' }} / travaler</li>
    <li>{{summaryDetails?.rooms}}
        @if (summaryDetails?.rooms === 1) {
        room
        } @else {
        rooms
        }
    </li>
</ul>
<h4>Contact</h4>
<ul>
    <li>email: {{summaryDetails?.email}}</li>
    <li>phone: {{summaryDetails?.phone}}</li>
</ul>
<h4>Total cost: {{summaryDetails?.totalCost | currency: 'EUR' }}</h4>