/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
body {
  font-family: 'Inter', sans-serif;
  background-color: #93bff0;
}
main {
  max-width: 300px;
  margin: 0 auto;
}
input,
select {
  box-sizing: border-box;
  width: 100%;
}

label {
        display: block;
    font-size: 0.7rem;
    font-style: italic;
}
input, select, button[type="submit"]  {
    font-size: 1rem;
    width: 100%;
}
select, input[type="date"], input[type="name"], input[type="number"], input[type="text"] {
  min-height: 28px;
}

input.ng-invalid + span, select.ng-invalid + span, form.ng-invalid .errMessage {
  color: red;
  font-size: 0.7em;
}


button[type="submit"] {
  cursor: pointer;
  border: none;
  background-color: #0099ff;
  min-height: 28px;
}

.input-box {
  margin-bottom: 16px;
}