/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
body {
  font-family: 'Inter', sans-serif;
  background-color: #93bff0;
}
main {
  max-width: 300px;
  margin: 0 auto;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
}

select,
input[type='date'],
input[type='name'],
input[type='number'],
input[type='text'],
input[type='email'] {
  min-height: 28px;
}

.input-box {
  margin-bottom: 16px;
}
label {
  display: block;
  font-size: 0.7rem;
  font-style: italic;
}
button[type='submit'] {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #0099ff;
  min-height: 28px;
  color: #fff;
}
