<form #travelForm="ngForm" sameCountryValidator (ngSubmit)="onSubmit(travelForm)">
    <div class="input-box">
        <label for="flight-from">
            Flight from:
        </label>
        <select name="flight-from" id="flight-from" [(ngModel)]="travelFormModel.fromCountry"
            [class.valid]="flightFrom.touched && flightFrom.valid && !travelForm.hasError('sameCountry')"
            #flightFrom="ngModel" required>
            <option value="" disabled>Select departure country</option>
            @for (country of countries; track country) {
            <option [value]="country">{{country}}</option>
            }
        </select>
        <div class="errMessage">
            @if (flightFrom.invalid && (flightFrom.touched || travelForm.submitted)) {
            <span>Field required!</span>
            }
        </div>

    </div>
    <div class="input-box">
        <label for="flight-to">
            Flight to:
        </label>
        <select name="flight-to" id="flight-to" [(ngModel)]="travelFormModel.toCountry"
            [class.valid]="flightTo.touched && flightTo.valid && !travelForm.hasError('sameCountry')"
            #flightTo="ngModel" required>
            <option value="" disabled>Select arrival country</option>
            @for (country of countries; track country) {
            <option [value]="country">{{country}}</option>
            }

        </select>
        <div class="errMessage">
            @if (flightTo.invalid && (flightTo.touched || travelForm.submitted)) {
            <span>Field required!</span>
            }
        </div>

    </div>
    <div class="errMessage">
        @if (travelForm.hasError('sameCountry')) {
        <span>Field cannot be same!</span>
        }
    </div>



    <button type="submit">Find flights</button>
</form>